---
import Prompt from "../components/Prompt.astro";
import Layout from "../layouts/Layout.astro";
import PromptText from "../components/PromptText";
---

<Layout title="enzom@enzomdev">
  <div class="flex items-center gap-[0.85em]">
    <Prompt />
    <PromptText />
  </div>
</Layout>
