---
import Prompt from "../components/Prompt.astro";
import Layout from "../layouts/Layout.astro";
import WhoamiResponse from "@/components/WhoamiResponse.astro";
import Links from "@/components/Links.astro";
import Skills from "@/components/Skills.astro";
import Footer from "@/components/Footer.astro";

if (true) Astro.redirect("/en");
---

<Layout title="enzom@enzomdev">
  <Prompt command="whoami" left="left-[4.4rem]" cursor />
  <div id="content" class="flex flex-col gap-4">
    <Links />
    <WhoamiResponse />
    <Prompt command="glow skills.md" left="left-[9.4rem]" />
    <Skills />
  </div>
</Layout>

<script defer>
  const content = document.getElementById("content");
  content.classList.add("hidden");
  setTimeout(() => {
    lang = "es";
    content.classList.remove("hidden");
    content.classList.add(`animate-show`);
  }, 900);
</script>
