---
import Prompt from "../components/Prompt.astro";
import Layout from "../layouts/Layout.astro";
import WhoamiResponse from "@/components/WhoamiResponse";
import Links from "@/components/Links.astro";
---

<Layout title="enzom@enzomdev">
  <Prompt command="whoami" />
  <div id="content" class="flex flex-col gap-2">
    <Links />
    <WhoamiResponse client:idle />
  </div>
</Layout>

<script defer>
  const content = document.getElementById("content");
  content.classList.add("hidden");
  setTimeout(() => {
    lang = "es";
    content.classList.remove("hidden");
    content.classList.add(`animate-show`);
  }, 700);
</script>
