---
const links = [
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/enzomdev",
    color: "blue",
  },
  {
    name: "Github",
    href: "https://www.github.com/enzom-uy",
    color: "white",
  },
  {
    name: "Twitter",
    href: "https://www.twitter.com/enzom_uy",
    color: "blue",
  },
];
---

<ul class="text-xl text-green font-extrabold">
  <li>
    <a
      href="https://www.linkedin.com/in/enzomdev"
      class="hover:text-blue"
      target="_blank">LinkedIn</a
    >
  </li>
  <li>
    <a
      href="https://www.github.com/enzom-uy"
      class="hover:text-white"
      target="_blank">Github</a
    >
  </li>
  <li>
    <a
      href="https://www.twitter.com/enzom_uy"
      class="hover:text-blue"
      target="_blank">Twitter</a
    >
  </li>
</ul>
