---
interface Props {
  command: string;
  animate?: boolean;
  showCursor?: boolean;
}

const { command, animate, showCursor } = Astro.props;
---

<div class="w-fit text-md">
  <div
    class={`flex relative items-center gap-[0.85em] ${
      showCursor && "border-r-white border-r-[0.65em] pr-2"
    }  whitespace-nowrap overflow-x-hidden ${
      animate && "animate-typing"
    } w-fit`}
  >
    <div>
      <h1 class="font-medium text-cyan">
        enzom@enzomdev <span class="text-green">~</span>
      </h1>
    </div>

    <div class="relative">
      <p class="font-medium">
        {command}
      </p>
    </div>
  </div>
</div>
