---
interface Props {
  command: string;
  left: string;
  cursor?: boolean;
}

const { command, left, cursor } = Astro.props;
---

<div class="flex items-center gap-[0.85em]">
  <div>
    <h1 class="font-bold text-cyan text-lg">
      enzom@enzomdev <span class="text-green">~</span>
    </h1>
  </div>

  <div class="relative">
    <p
      class="text-lg font-semibold relative animate-type overflow-x-hidden whitespace-nowrap"
    >
      {command}
    </p>
    {
      cursor && (
        <div
          class={`border-r-[0.63em] absolute h-[1.5rem] top-[0.12rem] ${left} border-white animate-blink`}
        />
      )
    }
  </div>
</div>
