---
---

<div class="text-lg text-foreground flex flex-col gap-4 max-w-[80ch]">
  <p>
    I'm a <span class="highlight">Full Stack Developer</span> based in Uruguay, passionate
    about coding and nerdy stuff. My journey started in 2021 when I decided to study
    <span class="highlight">Web Development</span>.
  </p>

  <p>
    I mainly code in Typescript, building stuff with React and Nodejs since is
    my main focus at the moment, but I'm currently pursuing a degree in IT,
    learning and coding in Java.
  </p>

  <p>
    If you want to contact me, send me an email to:
    <span class="highlight">enzom.dev@gmail.com</span>
  </p>
</div>
