---
import Prompt from "@/components/Prompt.astro";
import "@fontsource/jetbrains-mono";

export interface Props {
  title: string;
  description: string;
  promptText: string;
}
const { title, description, promptText } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body
    class="font-sans bg-background text-foreground p-2 sm:p-6 text-sm sm:text-lg flex flex-col gap-4"
  >
    <Prompt animate showCursor command={promptText} />
    <main class="min-h-[91vh] max-w-[80ch]">
      <slot />
    </main>
  </body>
  <style is:global>
    @tailwind components;

    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    html::-webkit-scrollbar {
      display: none;
    }
    li {
      list-style-type: disc;
      margin-left: 2rem;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    a {
      width: fit-content;
    }

    @layer components {
      .highlight {
        @apply font-semibold text-yellow;
      }
    }
  </style>
</html>
